* {
  box-sizing: border-box;
}

.poste_depense {
  width: 600px;
  margin: 50px;
}

.total {
  font-weight: bold;
}

.ok {
  color: green;
}

.bad {
  color: red;
}

#poste td {
  user-select: none;
  -webkit-user-select: none;
}
#poste td .view {
  display: block;
}
#poste td .edit {
  display: none;
}
#poste td.editing {
  padding: 0px 8px;
  margin: 0;
  width: 171px;
  height: 37px;
}
#poste td.editing .view {
  display: none;
}
#poste td.editing .edit {
  display: block;
}
#poste td.editing input {
  width: 171px;
  height: 37px;
  border-color: transparent;
}
#poste td.editing form {
  width: 171px;
  height: 37px;
  padding: 0;
  margin: 0;
}
