.poste_depense {
  width: 600px;
  margin: 50px;
}
.total {
  font-weight: bold;
}
.ok {
  color: green;
}

.bad{
  color: red;
}

#poste {
  td{
    .edit{
      display: none;
    }
    .view{
      display: block;
    }
  }

  td.editing{
    form{
      width: 153px;
      margin: 0;
    }
    .view{
      display: none;
    }
    .edit{
      display: block;
      width: 153px;
      margin: 0px;
    }
  }
}
